<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Page Object Model">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       <listener class-name="com.remya.listeners.Testlistener"/>
  </listeners>
    <test name="logintest">
		<classes>
			<class name="com.remya.Testcases.logintest" />
		</classes>
		</test> <!-- Test -->
</suite> <!-- Suite -->
